In [10]:
import pandas as pd
import plotly.express as px

In [11]:
# load dataframe from csv
df = pd.read_csv("image_statistics.csv")

In [12]:
df.head()

   label       shape    area  aspect_ratio        mean        std
0      0  (328, 563)  184664      0.582593  174.758004  35.649707
1      0  (203, 571)  115913      0.355517  196.914194  18.909234
2      0  (145, 205)   29725      0.707317  196.102473  19.613935
3      0  (211, 647)  136517      0.326121  191.284595  17.754088
4      0  (228, 513)  116964      0.444444  184.297741  23.214009